/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-color: rgb(3, 98, 51);
    --font-heading: "Ubuntu Mono", monospace;
    --font-text: "Lora", serif;
    --background-color: rgba(8, 133, 77, 0.287);
    --focus-color: rgb(249, 211, 217);
}

/* Navbar styles */
nav ul {
    display: flex;
    padding: 1.3rem;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-text);
    font-size: 0.8rem;
}

/* Index page styles */
#hero {
    text-align: center;
    line-height: 2;
    background-image: url("images/cactus.jpg");
    color: white;
    background-size: cover;
    height: 40rem;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: 700;
}
#hero h2 {
    font-size: 1.1rem;
    margin: 1rem;
    
}
#hero .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}
#hero .button {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 0.3rem;
    width: 25vw;
    max-width: 120px;
    margin: 2rem auto;
    font-family: var(--font-text);
}
@media only screen and (min-width: 450px) {
    #hero,
    #hero .overlay {
        height: 50rem;
    }
    #hero h1{
        font-size: 2rem;
    }
    #hero h2 {
        font-size: 1.5rem;
    }
}

/* Main section styles */
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
main #background{
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/background.jpg");
    background-position: center;
    width: 100%;
}
main #overlay {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    justify-content: center;
}

/* About page styles */
.about {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    overflow: hidden;
    font-family: var(--font-text);
}
.about img {
    width: 100%;
    margin-bottom: 0.6rem;
}
.about .text h3 {
    padding-bottom: 1.5rem;
    font-family: var(--font-heading);
    color: var(--font-color);
}
main h1 {
    font-family: var(--font-heading);
    color: var(--font-color);
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--background-color);
    color: black;
    width: 100%;
    margin-bottom: 1rem;
    z-index: 1;
}
@media only screen and (min-width: 450px) and (max-width: 899px) {
    .about {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        height: 20rem;
    }
    .about img {
        width: 49%;
    }
    .about .text {
        width: 49%;
    }
    .about:nth-of-type(2) img {
        order: 1;
    }
}
@media only screen and (min-width: 900px) {
    nav ul {
        justify-content: flex-end;
    }
    nav ul li {
        padding: 0 1rem;
    }
    .about {
        justify-content: space-between;
        padding-top: 0;
        width: calc(100%/2 - 2rem);
        height: 14rem;
    }
    .about img {
        width: 47%;
    }
    .about .text {
       width: 47%;
       margin: 0.5rem;       
    }
    .about:nth-of-type(2) img {
        order: 1;
    }
    .about:nth-of-type(3) {
        margin: 1rem auto 1rem auto;
    }
}

/* Blog page styles */
.listing {
    display: flex;
    flex-direction: column;
    max-height: 70vw;
    width: 70vw;
    overflow: hidden;
    margin: 1rem auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    max-height: 300px;
    border: 2px solid var(--focus-color);
    background-color: white;
}
.listing h2 {
    width: 100%;
    font-size: 0.9rem;
    padding-top: 0.6rem;
    margin-left: 0.5rem;
}
.listing h2 a {
    font-family: var(--font-heading);
    color: var(--font-color);
    text-decoration: none;
}
.listing time {
    font-family: var(--font-text);
    font-size: 0.7rem;
    margin-left: auto;
    padding: 0.3rem;
}
.listing img {
    border-top: 1px solid black;
    width: 100%;
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
    .listing {
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
        height: 40vw;
    }
}
@media only screen and (min-width: 801px) {
    .listing {
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100%/4 - 4rem);
        height: 30vw;
        margin: 3rem;
    }
}

/* Blog posts styles */
.post {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: space-between;
}
.post h2 {
    font-family: var(--font-heading);
    color: var(--font-color);
}
.post time {
    margin-top: 0.9rem;
    text-align: right;
    font-family: var(--font-text);
    font-size: 0.8rem;
    border-bottom: 2px dotted var(--background-color);
    padding-bottom: 0.5rem;
    width: 100%;
}
.post p {
    margin: 0.7rem 0;
    text-align: justify;
    font-size: 1.1rem;
    font-family: var(--font-text);
}
.post .blog-button {
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--font-color);
    border: 1px solid var(--background-color);
    padding: 0.5rem;
    width: 9rem;
    text-align: center;
}
#post-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media only screen and (min-width: 500px) and (max-width: 799px){
    .post {
        margin: 1rem 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .post p:nth-of-type(1) {
        width: 50%;
        padding-right: 1.5rem;
        margin-bottom: 0;
    }
    .post img {
        width: 50%;
        margin-top: 0.7rem;
    }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
    .post {
        flex-direction: column;
        margin: 1rem 2rem;
        position: relative;
    }
    .post p {
        width: 50%;
        padding-right: 1.5rem;
        margin-bottom: 0;
    }
    .post img {
        width: 50%;
        margin-top: 0.7rem;
        position: absolute;
        right: 0;
        top: 75px;
        overflow: hidden;
        max-height: 400px;
        max-width:400px;
    }
    #post-footer {
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 901px) {
    .post {
        flex-direction: column;
        margin: 1rem 2rem;
        position: relative;
    }
    .post p {
        width: 60%;
        padding-right: 1.5rem;
        margin-bottom: 0;
    }
    .post img {
        width: 40%;
        margin-top: 0.7rem;
        position: absolute;
        right: 0;
        top: 75px;
        overflow: hidden;
        max-height: 400px;
        max-width: 400px;
    }
    #post-footer {
        margin-top: 5rem;
    }
}

/* Contact page styles */
.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center;
    width: 100%;
}
.intro h2 {
    font-family: var(--font-heading);
    color: var(--font-color);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}
.intro h3 {
    font-family: var(--font-heading);
    border: 1px solid var(--focus-color);
    background-color: var(--focus-color);
    text-align: center;
    padding: 0.6rem 0;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    font-family: var(--font-text);
}
.details p, 
.details a {
    padding: 0.5rem;
    color: black;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-text);
    color: var(--font-color);
}
input {
    padding: 10px;
}
input[type=submit] {
    color: var(--font-color);
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .contact {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .intro h2 {
        order: 1;
        margin: 1rem 0;
    }
    form {
        order: 1;
        width: 90%;
    }
    input[type=submit] {
        width: 10rem;
        margin-left: auto;
    }
}
@media only screen and (min-width: 901px) {
    .contact {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        margin: 2rem 4rem;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .intro h2 {
        order: 1;
        margin: 1rem 0;
    }
    .details {
        order: 1;
        position: absolute;
        left: 6rem;
        top: 6rem;
    }
    form {
        width: 49%;
    }
    input[type=submit] {
        width: 10rem;
        margin-left: auto;
    }
}

/* Work page styles */
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 1.5rem 1rem;
    overflow: hidden;
    font-family: var(--font-text);
    text-align: justify;
}
.career-button {
    display: flex;
    justify-content: center;
    width: 100%;
}
.career-button a {
    text-decoration: none;
    font-family: var(--font-heading);
    color: black;
    border: 1px solid black;
    font-size: 1rem;
    background-color: var(--focus-color);
    padding: 0.6rem 0;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    height:
}
#current-button {
    background-color: white;
    border: 2px solid black;
}
.work figure {
    margin: 1.4rem 0;
    height: 60vw;
    overflow: hidden;
}
.work img {
    margin: auto;
    width: 100%;
}
.skills p {
    text-align: center;
    border-bottom: 3px dotted var(--background-color);
    font-family: var(--font-heading);
    font-size: 1.5rem;
    color: var(--font-color);
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.1rem;
}
.skills ul li{
    list-style-type: none;
    margin-top: 2rem;
    padding-left: 1rem;
    width: 13rem;
}
@media only screen and (min-width: 550px) and (max-width: 899px) {
    .work {
        align-items: flex-start;
        position: relative;
        margin: 0 2rem 1.5rem 2rem;
    }
    .work p {
        width: 49%;
        margin-top: 1.5rem;
    }
    .work figure {
        width: 49%;
        order: 1;
        margin-bottom: 0;
        height:40vw;
    }
    .skills {
        width: 49%;
        position: absolute;
        right: 0;
        top: 5rem;
    }
    .skills p {
        width: 80%;
        margin: auto;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1400px) {
    .work {
        align-items: flex-start;
        position: relative;
        margin: 0 0 1.5rem 7rem;
        
    }
    .career-button {
        width: 70%;
        margin: auto;
    }
    .work p {
        width: 50%;
        margin-top: 1.5rem;
    }
    .work figure {
        width: 50%;
        order: 1;
        margin-bottom: 0;
        height: 30vw;
    }
    .skills {
        width: 48%;
        position: absolute;
        right: 0;
        top: 6rem;
    }
    .skills p {
        width: 80%;
        margin: auto;
    }
    .skills ul li {
        width: 100%;
        padding-left: 35%;
    }
}
@media only screen and (min-width: 1400px) {
    .work {
        align-items: flex-start;
        position: relative;
        margin: 0 0 2rem 13rem;
    }
    .career-button {
        width: 70%;
        margin: auto;
    }
    .work p {
        width: 50%;
        margin-top: 1.5rem;
    }
    .work figure {
        width: 50%;
        order: 1;
        margin-bottom: 0;
        height: 30vw;
    }
    .skills {
        width: 48%;
        position: absolute;
        right: 0;
        top: 6rem;
    }
    .skills p {
        width: 60%;
        margin: auto;
    }
    .skills ul li {
        width: 100%;
        padding-left: 35%;
        margin-top: 3rem;
    }
}

/* Work2 page styles */
#technical {
    font-size: 3rem;
    text-align: center;
    margin-top: 1.2rem;
}
#technical li {
    margin-top: 0;
    width: 6rem;
    color: rgba(0, 0, 0, 0.856);
}
@media only screen and (min-width: 416px) {
    #technical li {
        width: 8rem;
    }
}
@media only screen and (min-width: 544px) {
    #technical li {
        width: 9rem;
        font-size: 2.7rem;
    }
}
@media only screen and (min-width: 652px) {
    #technical li {
        width: 20rem;
        font-size: 2.7rem;
        padding: 0;
    }
}

/* Footer Styles */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer p {
    width: 100%;
    height: 3rem;
    padding: 0.7rem 0;
    text-align: center;
    color: black;
    font-size: 1.3rem;
    background-color: var(--background-color);
}
.social-button {
    margin: 0.5rem 1.6rem;
    font-size: 2.5rem;
    color: var(--font-color);
}