/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-color: #BBA248;
    --font-heading: 'Permanent Marker', cursive;
    --font-text: 'Ubuntu Mono', monospace;
    --background-color: #6B58B9;
    --background-color2: #899595;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar styles */
header {
    height: 3.6rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1.3rem;
}
nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-heading);
    font-size: 0.8rem;
    height: 100%;
}
nav ul li a:hover {
    color: var(--background-color2);
}
.current-page {
    color: black;
}
@media only screen and (min-width: 600px) {
    nav ul {
        justify-content: space-around;
    }
    nav ul li a {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 900px) {
    nav ul {
        justify-content: flex-end;
    }
    nav ul li {
        padding: 0 1.6rem;
    }
}

/* Index page styles */
#background-border {
    padding: 1rem;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 3.5rem;
}
/* Index page graphic component - hero image with overlay */
#hero {
    text-align: center;
    line-height: 2;
    background: url("images/melb.png");
    color: white;
    background-size: cover;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: 700;
    height: 100vh;
}
#hero h2 {
    font-size: 1.5rem;
    margin: 1rem;
}
#hero .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    height: 100vh;
}
#hero .button {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 0.3rem;
    width: 25vw;
    max-width: 120px;
    margin: 2rem auto;
    font-family: var(--background-color);
    border-radius: 10%;
    background-color: #6B58B9;
}
@media only screen and (min-width: 450px) {
    #hero,
    #hero .overlay {
        height: 50rem;
    }
    #hero h1{
        font-size: 2rem;
    }
    #hero .button {
        animation: flashing 3s infinite;
    }
    @keyframes flashing {
        50% {
            transform: scale(1.1, 1.1);
        }
    }
    #hero .button:hover {
        color: var(--font-color);
        background-color: white;

    }
}

/* Main section styles */
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 2;
}
/* Main section background and overlay used across multiple pages - graphic component */
main #background{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, var(--background-color2), var(--background-color));
    background-position: center;
    width: 100%;
    flex-grow: 2;
}
main #overlay {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    justify-content: center;
}

/* About page styles */
/* Cards - graphic and text component */
.about {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    font-family: var(--font-text);
    font-size: 1.1rem;
    cursor: pointer;
}
.about p {
    padding-top: 0.5rem;
    line-height: 1.5;
}
.about figure {
    margin-bottom: 0.8rem;
}
.about figure img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
    filter: grayscale(100%);
}
.about figure img:hover {
    filter: none;
}
.about .text h3 {
    padding-bottom: 0.5rem;
    font-family: var(--font-heading);
    color: var(--font-color);
}
.text p {
    opacity: 0;
    height: 0;
}
.show-text p {
    height: 100%;
    opacity: 1;
}
.about .no-filter img {
    filter: none;
}
@media only screen and (min-width: 550px) {
    .about {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }
    .about figure {
        width: 48%;
    }
    .about .text {
        width: 48%;
    }
    .about:nth-of-type(2) figure {
        order: 1;
    }
}
@media only screen and (min-width: 990px) {
    .about-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
    }
    .about {
        width: 40%;
    }
    .about:nth-of-type(3) {
        margin: 1rem auto;
        width: 65%;
    }
    .about:nth-of-type(3) img {
        max-width: 250px;
    }
}

/* Work page styles */
/* Nav buttons to link work related pages */
.career-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
    position: sticky;
    top: 3.5rem;
    margin-top: 1rem;
}
.career-button a {
    text-decoration: none;
    font-family: var(--font-text);
    color: black;
    border: 1px solid var(--background-color2);
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 0.4rem;
}
.career-button a:hover {
    box-shadow: 0 0 10px 1px;
}
.career-button a:active {
    box-shadow: 0 0 10px 1px;
}
#current-button {
    background-color: var(--background-color2);
    border: 3px double black;
    pointer-events: none;
}
/* Graphic and textual component for both work pages */
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 2rem;
    font-family: var(--font-text);
    width: 90%;
    max-width: 1400px;
}
.column p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
}
.column figure {
    margin: 1.4rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.column figure img {
    margin: auto;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
    padding: 1px;
    border: 1px solid white;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
}
/* List container - textual component for both work pages */
.skills {
    width: 100%;
}
.skills h3 {
    text-align: center;
    border-bottom: 3px dotted var(--background-color2);
    font-family: var(--font-text);
    font-size: 1.2rem;
    line-height: 2;
    color: var(--font-color);
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
}
.skills ul li {
    list-style-type: none;
    margin-top: 2rem;
    padding-left: 1rem;
    width: 20rem;
    font-size: 1rem;
    text-align: left;
}
@media only screen and (min-width: 700px) {
    .career-button {
        width: 100%;
        z-index: 2;
    }
    .career-button a {
        width: 25%;
        max-width: 15rem;
    }
    .work {
        align-items: flex-start;
    }
    .column {
        width: 60%;
    }
    .column figure {
        order: 1;
        margin-bottom: 0;
    }
    .skills {
        width: 35%;
        position: absolute;
        right: 0;
        top: 9rem;
        z-index: 1;
    }
    .skills h3 {
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
    }
    .skills ul {
        justify-content:space-around;
    }
}

/* Work2 page styles */
/* Adjusting list styles for work2 page */
#technical {
    width: 100%;
    justify-content: space-around;
}
#technical li {
    margin: 0.5rem 1.3rem;
    text-align: center;
    width: 14%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    padding: 0;
}
@media only screen and (min-width: 700px) {
    #technical li {
        width: 100%;
    }
}

/* Blog page styles */
/* Cards - graphic and textual component */
.listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.listing {
    display: flex;
    flex-direction: column;
    width: 70vw;
    overflow: hidden;
    margin: 3rem 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    max-height: 400px;
    border: 2px solid white;
    background-color: white;
}
.listing:hover {
    box-shadow: 0 0 20px 2px var(--background-color2);
    cursor: pointer;
}
.listing h2 {
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0.8rem;
}
.listing a {
    font-family: var(--font-text);
    color: black;
    text-decoration: none;
}
.listing a:active {
    color: var(--font-color);
}
.listing aside {
    font-family: var(--font-text);
    width: 90%;
    font-size: 1rem;
    margin-left: 0.8rem;
}
.listing time {
    font-family: var(--font-text);
    font-size: 0.7rem;
    margin-left: auto;
    padding: 0.3rem;
}
.listing img {
    border-top: 1px solid black;
    width: 100%;
    flex-grow: 2;
}
@media only screen and (min-width: 700px) {
    .listing {
        flex-direction: row;
        flex-wrap: wrap;
        width: 40vw;
        max-width: 500px;
    }
}

/* Blog posts styles */
/* Graphic and textual component common to all blog posts */
.post {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    max-width: 1000px;
}
.post h2 {
    font-family: var(--font-text);
    color: var(--font-color);
    margin-top: 2rem;
}
.post time {
    margin-top: 0.9rem;
    text-align: right;
    font-family: var(--font-text);
    font-size: 0.8rem;
    border-bottom: 2px dotted var(--background-color2);
    padding-bottom: 0.5rem;
    width: 100%;
}
.post p, ul {
    margin: 0.7rem 0;
    font-size: 1.2rem;
    font-family: var(--font-text);
    line-height: 1.5;
}
.post li {
    margin-left: 1.2rem;
}
.post img {
    width: 95%;
    margin: 2rem auto;
    box-shadow: 0.5rem 0.5rem var(--font-color), -0.5rem -0.5rem var(--background-color2);
}
#post-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    margin-top: 2rem;
}
#post-footer a:hover {
    box-shadow: 0 0 5px 1px var(--background-color);
}
#post-footer a:active {
   background-color: #ddd;
   color: black;
   border: 1px solid black;
}
.post .blog-button {
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--background-color);
    border: 1px solid var(--background-color2);
    padding: 0.6rem 0;
    width: 8rem;
    text-align: center;
    background-color: white;
    font-size: 0.8rem;
}
@media only screen and (min-width: 800px) {
    .post {
        margin: 1rem 3rem;
        max-width: 1100px;
        display: block;
    }
    time {
        display: block;
    }
    .post p {
        margin-top: 2rem;
    }
    .post img {
        max-width: 500px;
        float: right;
        margin: 3rem 1.5rem;
    }
}

/* Contact page styles */
/* Textual component with contact info */
.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }
    20% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    transform: translateX(0%);
    }
    100% {
    opacity: 1;
    transform: translateX(0%);
    }
}
.intro h2 {
    font-family: var(--font-heading);
    color: var(--font-color);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    animation: slide 3s;
}
.intro h3 {
    font-family: var(--font-heading);
    text-align: center;
    padding: 0.6rem 0;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    font-family: var(--font-text);
}
.details p, 
.details a {
    color: black;
    width: 100%;
    line-height: 3;
    font-size: 1.1rem;
}
.details a:hover {
    color: var(--font-color);
}
/* Contact form component */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-text);
}
input {
    padding: 10px;
    font-family: var(--font-text);
}
input[type=submit] {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--background-color);
    padding: 1rem;
    border: 0.5px solid white;
    border-radius: 5%;
    color: white;
}
input[type=submit]:hover {
    background-color: var(--background-color2);
    
}
@media only screen and (min-width: 601px) {
    .contact {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 900px;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .intro h2 {
        margin: 1rem 0;
    }
    form {
        width: 90%;
    }
    input[type=submit] {
        width: 10rem;
        margin-left: auto;
    }
}
@media only screen and (min-width: 901px) {
    form {
        width: 60vw;
    }
}

/* Footer Styles */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: white;
    z-index: 2;
}
footer p {
    width: 100%;
    height: 2rem;
    text-align: center;
    color: var(--font-color);
    font-family: var(--font-heading);
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 1);
}
.social-button {
    margin: 0.5rem 1.6rem;
    font-size: 2.4rem;
    color: var(--font-color);
}
.social-button:hover {
    transform: scale(1.2, 1.2);
    color: black;
}